*{
    box-sizing: border-box
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.avatar-group .MuiAvatarGroup-avatar{
    width: 30px;
    height: 30px;
    font-size: 13px;
}

.nav-add-button .MuiSpeedDial-actions{
    position: absolute;
    top: 35px
}

.nav-add-button .css-7dv1rb-MuiButtonBase-root-MuiFab-root-MuiSpeedDial-fab{
    width: 45px;
    height: 45px;
}

.project-form .MuiInputBase-root.MuiInput-root::before{
    border-color: #FFF !important;
}